<div class="header-image" style="background-image: url(static/img/slide-show.jpg)"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 board-title text-center">
                <h1>TENTANG KAMI</h1>
            </div>
        </div>
    </div>
<div class="my-4 py-5 long-pargraph-layout">
    <section class="my-4">
        <div class="container-custom">
            <h1 class="font-weight-bold">Connecting the globe with the world&#039;s largest archipelago</h1>
        </div>
    </section>
    <section>
        <div class="container-custom mb-5">
            <div class="content">
                <p style="text-align: justify;">
                    <span lang="id">Berbasis di negara kepulauan terbesar dengan sejarah panjang pengaruh maritimnya di dunia, Pelabuhan Indonesia (Bahana) adalah pelabuhan kelas dunia yang menawarkan anda layanan terintegrasi antar pelabuhan di Indonesia. Bahana merupakan perusahaan hasil integrasi dari empat (4) BUMN pelabuhan yaitu PT Bahana I (Persero), PT Bahana II (Persero), PT Bahana III (Persero) dan PT Bahana IV (Persero)</span>
                    <span lang="EN-US">yang resmi berdiri pada tanggal</span>
                    <span lang="id"> 1 Oktober 2021.</span>
                </p>
                <p style="text-align: justify;"><span lang="id">Berdirinya Bahana sebagai perusahaan hasil integrasi ini adalah inisiatif strategis pemerintah selaku pemegang saham untuk mewujudkan konektivitas nasional dan jaringan ekosistem logistik yang lebih kuat. Konektivitas maritim -baik keterhubungan antar pelabuhan- pelabuhan di dalam negeri, maupun antara pelabuhan di dalam dan luar negeri- akan meningkat</span><span lang="EN-US">.</span></p>
                <p style="text-align: justify;"><span lang="id">Dengan memiliki kendali strategis yang lebih baik dan didukung oleh kemampuan finansial yang kuat, operasional bisnis Bahana menjadi lebih terkoordinasi, terstandar dan efisien sehingga akan memberi keuntungan bagi masyarakat khususnya pengguna jasa Bahana.</span></p>
                <p style="text-align: justify;"><span lang="id">Integrasi Bahana akan&nbsp; menciptakan sinergi satu BUMN Pelabuhan dengan standarisasi operasional dan proses bisnis yang lebih efisien. Kinerja pelabuhan kemudian akan meningkat yang berdampak pada kesejahteraan sosial dan ekonomi nasional.</span></p>
                <p style="text-align: justify;"><span lang="id">Integrasi Bahana akan membuat efisiensi operasional di seluruh pelabuhan nasional, dengan standarisasi teknologi informasi. Integrasi juga membuat kendali strategis yang lebih baik dalam perencanaan keseluruhan untuk jaringan, pengurangan biaya logistik, dan meningkatkan infrastruktur dan kapasitas.</span></p>
                <p style="text-align: justify;"><span lang="EN-US">Untuk menjalankan bisnisnya, Bahana ditunjang oleh 4 unit bisnis yaitu:</span></p>
                <ol>
                    <li style="text-align: justify;">
                        <p><span lang="EN-US">Bahana Terminal Petikemas</span></p>
                    </li>
                    <li style="text-align: justify;">
                        <p><span lang="EN-US">Bahana Multi Terminal</span></p>
                    </li>
                    <li style="text-align: justify;">
                        <p><span lang="EN-US">Bahana Jasa Maritim</span></p>
                    </li>
                    <li>
                        <p style="text-align: justify;"><span lang="EN-US">Bahana Solusi Logistik</span></p>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</div>